.demoPage {
  width: 100%;
  padding: 80px;
}

.demoPage .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .text {
  width: 40%;
}

.container .text h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 72px;
  color: #353535;
  margin-bottom: 32px;
}

.container .text ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #292929;
  margin-bottom: 16px;
}

.videoCtn .video {
  background: rgba(49, 49, 49, 0.75);
  border-radius: 8px;
  width: 628px;
  height: 410px;
}

.videoCtn p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #353535;
  margin-top: 32px;
}

@media screen and (max-width: 968px) {
  .demoPage {
    width: 100%;
    padding: 70px 24px;
  }

  .demoPage .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container .text {
    width: 100%;
  }

  .container .text h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 32px;
  }

  .container .text ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 24px;
    max-width: 370px;
  }

  .videoCtn .video {
    background: rgba(49, 49, 49, 0.75);
    border-radius: 8px;
    width: 100%;
    height: 248px;
  }

  .videoCtn p {
    margin-top: 24px;
    text-align: center;
  }
  
}
