.container * {
  padding: 0;
  margin: 0;
}
.container {
  padding: 59px 29px 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 101px;
}

.main_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  /* max-width: 381px; */
}

.main_text > h1 {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.main_text > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: center;

  color: rgba(0, 0, 0, 0.8);
}

.main_text > h1 > span,
.action_heading > span {
  color: #2563eb;
}

.main > figure {
  width: 100%; /*377px*/
  height: fit-content;
  overflow: hidden;
  margin-bottom: 25.5px;
}

.main > figure > img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* .video_container {
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
} */

.action_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 85px;
}

.action {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'head'
    'img'
    'list'
    'btn';
  row-gap: 32px;
  place-items: center;
}

.action > * {
  width: 100%;
}

.action_heading {
  grid-area: head;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.action_list {
  grid-area: list;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.action_list > li {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  margin-left: 16px;
}

.action_img {
  grid-area: img;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding: 0;
}

.action_img > img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.action_button {
  grid-area: btn;
  margin-top: 12px;
  display: grid;
  place-content: center;
  width: 307px;
  height: 48px;
  background: #102a63;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .main_text {
    gap: 32px;
  }

  .main_text,
  .main > figure {
    margin-bottom: 32px;
  }

  .main_text h1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
  }

  .main_text p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .action_heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }

  .action_button {
    width: 200px;
    height: 56px;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .main_text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }

  .main_text p {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 75px 90px 51px;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 106px;
    justify-content: space-between;
    row-gap: 32px;
  }

  .main_text h1,
  .main_text p {
    text-align: left;
  }

  .video_container {
    column-span: 2;
  }

  .action_container {
    gap: 96px;
  }

  .action {
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    place-items: unset;
    align-items: center;
    row-gap: 0;
  }

  .action:nth-of-type(1) {
    grid-template-areas:
      'head img'
      'list img'
      'btn img';
  }

  .action:nth-of-type(2) {
    grid-template-areas:
      'img head'
      'img list'
      'img btn';
  }

  .action_heading {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .main > figure {
    width: 610px;
    height: 398.82px;
  }

  .action_img {
    width: 610px;
    height: 451px;
  }

  .main > figure > img,
  .action_img > img {
    width: 100%;
    height: 100%;
  }
}
