.button {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: left;
  background: #2563eb;
  color: #ffffff;
  border-radius: 0.6rem;
  border: none;
  padding: 1rem 5.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background: #2564ebb3;
}
