.footer {
  padding: 23.5px 80px 0px 80px;
}

.footer ul {
  padding: 0;
}

.footer .mainFooter {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  gap: 20%;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer .mainFooter .logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 31.5px;
}

.footer .mainFooter .logoF {
  display: none;
}

.dMFooter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 200px;
}

.dMFooter .miUM__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #202020;
}

.miUM ul {
  margin-top: 20px;
}

.miUM li {
  margin-bottom: 8px;
  white-space: nowrap;
}

.miUM li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #868686;
}

.userGuide {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #868686;
}

.footer_list {
  color: #4974eb91 !important;
}

.right {
  max-width: 45%;
}

.right__title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.notify__ctn {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.right label {
  margin-top: 20px;
}

.right span.email__label {
  display: block;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #292929;
}

.right label input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  padding: 12px;
  gap: 10px;
  width: 321px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.right .btn__notify {
  align-self: flex-end;
  border: none;
  background: #102a63;
  border-radius: 6px;
  /* padding: 16px 44px; */
  width: 148px;
  height: 48px;
  margin-left: 16px;

  color: #fff;
  font-size: 14px;
}

.right .para {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #868686;
}

.mobile__fDownload {
  display: none;
}

.footer .bottomFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 23.5px 0px 23.5px 0px;
}

.footer .bottomFooter span.f_copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #565454;
  white-space: nowrap;
}

.fSocials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fSocials__text, .fDownload__text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #202020;
  margin: 0;
}

.fSocials a img {
  width: 24px;
}

.fDownload {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.fDownloadAppLink {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fDownloadAppLink img {
  width: 120px;
}

@media screen and (max-width: 1060px) {
  .footer {
    padding: 23.5px 40px 23.5px 40px;
  }
}

@media screen and (max-width: 1024px) {
  .footer .mainFooter {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
  }

  .footer .mainFooter .logoZ {
    display: none;
  }

  .footer .mainFooter .logoF {
    display: flex;
  }
    

  .right {
    max-width: 100%;
  }
  
  .right__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  
  .notify__ctn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 24px;
    gap: 16px;
  }
  
  .right label {
    margin-top: 20px;
  }
  
  .right span.email__label {
    display: block;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #292929;
  }
  
  .right label input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    padding: 12px;
    gap: 10px;
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  
  .right .btn__notify {
    margin-left: 16px;
    width: 100%;
  
    color: #fff;
    font-size: 14px;
  }
  
  .right .para {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #868686;
  }

  .footer .bottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding: 16px 0px 12px;
  }
  
  .footer .bottomFooter span.f_copyright {
        font-size: 14px;
    line-height: 22px;
  }
  
  .fSocials {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  
  .fSocials a img {
    width: 18px;
  }
  
  .fDownload {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .fDownloadAppLink {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .fDownloadAppLink img {
    width: 100px;
  }

}

@media screen and (max-width: 767px) {
  .footer {
    padding: 18px 24px;
  }

  .mobile__fDownload {
    display: flex;
    flex-direction: column;
  }

  .bottomFooter .fDownload {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .mobile__fDownload {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0;
  }

  .mobile__fDownload .fDownload__text {
    font-size: 18px;
  }

  .mobile__fDownload a img {
    width: 150px;
  }

  .bottomFooter {
    flex-direction: column-reverse;
  }


}

@media screen and (max-width: 500px) {
  .footer .mainFooter .dMFooter {
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 23.5px 16px 0px 16px;
  }
}

@media screen and (max-width: 350px) {
  .footer .mainFooter .dMFooter .footerLink .miUM .fDownloadAppLink img {
    max-width: 110px;
  }
}