.tp-header {
  width: 100vw;
  height: 300px;
  background-color: rgba(16, 42, 99, 0.9);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.container--head {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: 'white';
  width: 100vw;
  height: 188px;
  left: 0px;
  top: 80px;
  margin-bottom: 2rem;
  background: rgba(37, 99, 235, 0.6);
  display: flex;
}
.nav--section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 0rem; */
}
.nav--section > li {
  margin-right: 100px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: larger;
  color: black;
  text-decoration: none;
}

.box {
  background-color: #ededed;
  margin: 0 3rem;
  border-radius: 10px;
}
.content {
  margin: 3rem 5rem;
}
.content--title {
  color: #292929;
  text-align: center;
  padding-top: 1rem;
  font-weight: 600;
  font-size: 24px;
}
.child--title {
  padding-bottom: 2rem;
  color: #292929;
  font-weight: 500;
  font-size: 16px;
}

.contact--us {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  padding-bottom: 20px;
}

.list {
  padding-left: 2rem;
  line-height: 2rem;
}
.list li {
  list-style: circle;
  list-style-position: inside;
}

p {
  color: #6f6f6f;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

h4 {
  color: #292929;
  font-weight: 600;
  font-size: 24px;
}
/* extra small device */
@media only screen and (max-width: 600px) {
  .box{
    
      margin: 0;
      border-radius: 0px;
  }

  .content--title {
    margin-bottom: 30px;
  }

  .content {
    margin: 2rem 2rem;
  }

}
@media only screen and (min-width: 630px) {
  .box{
    
      margin: 0 2rem;
      border-radius: 10px;
  }
}
