version: '3'

services:

  frontend:
    container_name: opspad-frontend-website
    build:
      context: frontend_website/
      dockerfile: Dockerfile
    image: godchosen/opspad-frontend:latest
    volumes:
      - './frontend_website:/app'
    ports:
      - 3000:3000
    expose:
      - 3000

  backend:
    container_name: opspad-backend
    build:
      context: backend/
      dockerfile: Dockerfile
    image: godchosen/ospadpad-backend:latest
    environment:
      MYSQL_DATABASE: $MYSQL_DATABASE
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_HOST: $MYSQL_HOST
      MYSQL_USER: $MYSQL_USER
      MYSQL_PASSWORD: $MYSQL_PASSWORD
    volumes:
      - './backend:/app'
      - '/app/node_modules'
    ports:
      - '8081:8081'
    depends_on:
      - db
    network: 
      - devopsnotepad


  db:
    image: mysql:8.0
    container_name: db-mysql
    environment:
      MYSQL_DATABASE: $MYSQL_DATABASE
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_USER: $MYSQL_USER
      MYSQL_PASSWORD: $MYSQL_PASSWORD
    ports:
      - 3306:3306
    tty: true
    volumes:
      - db:/var/lib/db
      - ./db:/docker-entrypoint-initdb.d/:rw

volumes:
  db:

