.header {
    border-bottom: 0.5px solid #E5E5E5;
    padding: 23.5px 80px 23.5px 80px;
}

.header .inHeader {
    display: flex;
    justify-content: space-between;
}

.header .inHeader .left {
    display: flex;
    align-items: center;
}

.header .inHeader .left .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .inHeader .menuBar {
    display: flex;
    align-items: center;
}

.header .inHeader .menuBar .menuUlList {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .inHeader .menuBar .menuUlList li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1B1830;
}

.header .inHeader .menuBar .menuUlList li a i {
    margin-left: 5px;
}


.header .inHeader .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .inHeader .right .hamburgerBar {
    display: none;
}

.header .inHeader .right .hamburgerBar .hamburger-react div {
    width: 30px !important;
}

.header .inHeader .right .navAuthBtn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .inHeader .right .login_link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1B1830;
}

.header .inHeader .right .download_link {
    width: 132px;
    height: 44px;
    background: #202020;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 950px) {
    .header .inHeader .right .hamburgerBar {
        display: block;
    }

    .header .inHeader .menuBar {
        position: absolute;
        left: -100%;
        right: 0;
        top: 95px;
        width: 300px;
        height: 100vh;
        background-color: #ffffff;
        /* display: none; */
        filter: drop-shadow(rgba(0, 0, 0, 0.185) 0px 4px 4px);
        padding-top: 30px;
        
    }

    .header .inHeader .openMenu {
        left: 0px;
        transition: 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
        /* animation: 0.3s slide-left; */
    }

    .header .inHeader .menuBar {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header .inHeader .menuBar .menuUlList {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0px;
        width: 100%;
    }

    .header .inHeader .menuBar .menuUlList li {
        width: 100%;
    }

    .header .inHeader .menuBar .menuUlList li a {
        display: block;
        display: flex;
        align-items: center;
        padding: 10px;
        display: flex;
        padding-left: 80px;
    }
}

@media screen and (max-width: 950px) {
    .header .inHeader .right .navAuthBtn {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 23.5px 40px 23.5px 40px;
    }

    .header .inHeader .menuBar .menuUlList li a {
        padding-left: 40px;
    }
}

@media screen and (max-width: 400px) {
    .header {
        padding: 23.5px 16px 23.5px 16px;
    }

    .header .inHeader .menuBar .menuUlList li a {
        padding-left: 16px;
    }
}