.Change_pass {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba(233, 233, 233, 0.697);
	box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.change_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	margin: auto;
	background: #fff;
	border-radius: 6px;
	padding: 50px 20px;
}

.change_content {
	margin: 0 auto 0 auto !important;
}

.change_close {
	display: flex;
	justify-content: space-between;
}
.change_cancel {
	align-self: flex-end;
	background: transparent;
	border: none;
	cursor: pointer;
	height: 25px;
	outline: none;
}
.change_close svg {
	align-self: auto !important;
}

.change_form button {
	height: 48px;
	width: 100%;
	background: #102a63;
	border-radius: 4px;
	border: 0;
	color: #fff;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
}

.change_Flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.change_Flex label {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #4b4b4b;
}

.change_input {
	height: 48px;
	width: 181%;
	background: #ffffff;
	border: 1px solid #4b4b4b;
	border-radius: 4px;
	margin-top: 8px;
	margin-bottom: 48px;
	outline: none;
	padding: 0 10px;
}
.change_cont h2 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #292929;
}

/* .modal_btn {
	color: #323232 !important;
	background: #fff !important;
	border: 0 !important;
}

.modal_btn1 {
	border: 0 !important;
	background: 0 !important;
} */

.anchor h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #180e25;
}

.anchor {
	display: flex;
	column-gap: 705px;
	cursor: pointer;
}
.anchor h2 {
	width: 140px;
}
.anchor svg {
	align-self: center;
	color: #323232;
}

@-moz-document url-prefix() {
	.anchor {
		column-gap: 843px;
	}
}

.input_container {
	height: 48px;
	max-width: 100%;
	border: 1px solid #4b4b4b;
	margin-bottom: 48px;
	margin-top: 8px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	overflow: hidden;
}

.input_container input {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 500;
	background: #ffffff;
	outline: none;
}

.input_container:focus-within {
	outline: 1px solid black;
}

.input_container img {
	width: 20px;
	height: auto;
	opacity: 0.6;
}

.input_container button {
	height: 100%;
	width: fit-content;
	background: inherit;
	border-radius: 0;
	border: 0;
	padding-right: 10px;
	display: grid;
	place-content: center;
	position: relative;
}

.input_container .visible {
	opacity: 1 !important;
}
