.crea8_container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba(233, 233, 233, 0.697);
	box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.headerContainer {
	padding: 12px;
	border-bottom: 1px solid #ededed;
	max-width: 554px;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 35px;
}

.crea8_content {
	width: 307px;
	margin: 0 auto 0 auto !important;
}

.crea8_form {
	width: 554px;
	height: 495px;
	margin: auto;
	background: #fff;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}

.crea8_Flex {
	display: flex;
	flex-direction: column;
}

.crea8_form h3 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	color: #202020;
	padding-bottom: 12px;
	margin-top: 20px;
}

.crea8_form label {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #6f6f6f;

	margin-bottom: 8px;
}

.crea8_form input[type='password'] {
	height: 40px;
	border-radius: 6px;
	padding: 12px;
	border: 1px solid #acacac;
	outline: none;
	color: #6f6f6f;
	font-size: 14px;
}
.crea8_form input[type='password']:focus {
	background-color: #fff;
}

.crea8_form button {
	width: 100%;
	height: 48px;
	border-radius: 6px;
	outline: none;
	border: none;
	background: #102a63;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
	font-family: 'Manrope';
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
}

.crea8_p {
	display: flex;
	gap: 9.25px;
	margin-top: 140px;
	margin-bottom: 23px;
}
.crea8_p p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #333333;
}
