.mailWrapper {
    background-color: #102A63;
    color: #fff;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.mailWrapperH1 {
    font-size: 36px;
    margin-bottom: 32px;
}

.mailForm {
    display: flex;
    align-items: center;
    gap: 16px;
}

.label {
    font-size: 14px;
    color: #BDBDBD;

}

.mailWrapper .input {
    padding: 1.2rem 1rem;
    border-radius: 0.6rem;
    margin: 0.7rem 0 1.4rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    width: 100%;
    border: 1px solid #F2F2F2;
    background-color: transparent;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}

.button {
    width: 161.31px;
    border: none;
    height: 56.81px;
    color: #102A63;
    font-size: 14.2px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 6.09px;
}

.mailWrapper p {
    color: white;
}

@media screen and (max-width: 650px) {
    .mailWrapper {
        padding: 23.5px;
        text-align: center;
    }

    .mailWrapperH1 {
        font-size: 24px;
    }

    .mailForm {
        flex-direction: column;
    }

    .label {
        width: 100%;
        text-align: center;
    }

    .button {
        width: 100%;
        margin-bottom: 48px;
    }
}