@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
:root{
  --pblaxk:#202020;
  --Dblck: #292929;
  --Lblue: #F6F9FF;
  --pblue: #102A63;
}

p{
  margin-bottom: 0 !important;
}

.partnerPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.PartnerMinilanding{
  width: 100%;
  height: 60vh;
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.PartnerMinilanding h1{
  color: var(--pblaxk);
  font-size: 56px;
  font-weight: 800;
  text-align: center;
}

.PartnerMinilanding p{
  width: min(649.51px, 90%);
  color: var(--pblaxk);
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.PartnerMinilanding button{
  border: none;
  background-color: var(--pblue);
  color: white;
  border-radius: 7px;
  padding: 19px 20px;
  margin-top: 30px;
  font-size: 15px;
}


/* =============================================== SERVICE PARTNER SECTION STLYING STARTS HERE ======================================================== */

.servicePartner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  width: 90%;
}

.servicePartnerContent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(556px, 90%);
  align-items: flex-start;
}

.servicePartnerContent h3{
  color: var(--pblaxk);
    font-size: 32px;
    font-weight: 700;
}

.servicePartnerContent p{
  color: #6F6F6F;
  font-size: 16px;
  width: 100%;
  line-height: 24px;
}

.servicePartnerContent h5{
  color: #6F6F6F;
  font-size: 24px;
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
}

.servicePartnerContent button{
  background-color: var(--pblue);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 20px;
}

.handImageWrapper{
  width: min(650px);
}

.handImage{
  width: 100%;
  display: block;
}



/* ====================================================================== PARTENER SECTION STYLING STARTS HERE =============================================================== */

.partners{
  width: 100%;  
  min-height: 110vh;
  background-color: var(--Lblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 20px 0;
}

.partnersHeading{
  text-align: center;
  color: var(--pblaxk);
  font-weight: 700;
  font-size: 32px;
}

.partnersCarousel{
  display: grid;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
}

.carouselContents{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  max-height: 500px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 11px;
  box-shadow: 0px 8px 16px rgba(205, 218, 240, 0.79);
}


.carouselContents img{
  max-width: 150px;
}

.carouselContents h3{
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.0005em;
  color: var(--Dblck);
  text-align: center;
  margin-top: 27px;
}

.carouselContents h6{
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.0005em;
  color: var(--Dblck);
  text-align: center;
  margin-top: 7px;
}

.carouselContents h4{
  margin-top: 17px !important;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.0005em;
  color: var(--pblaxk);
  text-align: center;
}

.carouselContents p{
  margin-top: 27px;
  font-size: 14px;
  letter-spacing: 0.0005em;
  line-height: 30px;
  color: var(--Dblck);
  text-align: center;
  width: min(292px, 90%);
}

.arrows{
  display: none;
  gap: 50px;

}







/* =====================================================================================  MEDIA QUERY AND RESPONSIVENESS STARTS HERE ===================================== */

@media (max-width: 1280px) {
  .servicePartnerContent h5{
    margin-top: 5px;
  }
  
  .servicePartnerContent button{
    margin-top: 0;
  }
  
}

@media (min-width: 730px) and (max-width: 1000px) {
  .servicePartnerContent p{
    color: #6F6F6F;
    font-size: 12px;
    width: 100%;
  }
  .servicePartnerContent h3{
      font-size: 25px;
  }

  .servicePartnerContent{
    gap: 10px;
  }

  .servicePartnerContent h5{
    font-size: 20px;
    margin-top: 5px;
  }
}


@media (max-width: 730px) {
  .servicePartner{
    flex-direction: column-reverse;
   }

   .servicePartnerContent{
    width: 80%;
    gap: 20px;
    align-items: center;
  }

  .handImageWrapper{
    width: 100%;
  }

  .servicePartnerContent p{
    text-align: center;
  }

  .servicePartnerContent h5{
    margin-top: 20px;
  }
  
  .servicePartnerContent button{
    margin-top: 20px;
  }
}



@media (max-width: 900px) {
  .partnersCarousel{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (max-width: 600px) {
  .partnersCarousel{
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .arrows{
    display: flex;
    gap: 50px;
  }

  .carouselContents2{
    display: none;
  }

  .carouselContents3{
    display: none;
  }
  .partners{
    padding: 20px 20px;
  }
}