@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');


.mainContainer {
    width :100%;
    overflow-x: hidden;
}

.introContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
     padding: 1.5rem 1.5rem  1rem 1.5rem ;
    background-color: #fff;
   
    
}

.firstHeadingStyling {
    font-weight: 400;
    font-size: 2.0rem;
     padding: 1.5rem 0.5rem 0.5rem 0.5rem;
   
}

.firstHeadingBlue {
    color: #225AD6;
}

.firstParagraph{
    padding: 1rem 0.5rem 2rem 0.5rem;
    font-size: 20px;
}

/* .holdingHands {
    width: 100%;
    margin: auto;
    Height: 264px;
} */

.holdingHands img {
    width:100%;
    height:100%;
}

.partnerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.875rem;
    width: 50%;
    border-radius: 10px;
    background-color: #102A63;
    color: #fff;
    margin: 2rem 1rem 2rem 1rem;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.partnersTechnology {
    background-color:  #F6F9FF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: max-content;
    margin-bottom: 21px;
}

.partnersTechnologyCard{
   
    width: fit-content;
    padding: 1rem;
    cursor: pointer;
    margin: 1rem;
    margin-bottom: 1rem;
}

.partnersTechnologyCardDesktop {
    display: none;
}
.cardDetails {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.cardImage {
    align-self: center;
    border-radius: 40%;
    box-shadow: 0 0 0 10px #fff;
    padding: 2rem;
    background-color: #fff;
}

.cardHeader {
    font-weight: 600;
    font-size: 18px;
    color: #292929;
    margin: 1rem auto 1rem auto;
}

.cardText {
    font-weight: 400;
    font-size: 16px;
}

.partnerCard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0 2rem 0 ;
}

.partnerCardHeading {
    font-weight: 600;
    font-size: 20px;
    color: #292929;
}


.partnerCardContainer {
    gap: 10px;
    justify-content: center;
}

.containerCardImage {
    display: flex;
    justify-content: center;
}

.partnerCardContainerBody {
    padding: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(205, 218, 240, 0.79);
    border-radius: 11px;
    margin: 1rem 1rem 1rem 1rem;
}



.containerCardContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 0 0 2rem;
}
.cardItem1 {
    font-size: 24px;
  
    padding: 16px;
}
.cardItem2,.cardItem4 {
    font-size: 15px;
    padding: 5px;
    letter-spacing: 0.05em;
}
.cardItemThird {
    font-size: 16px;
    font-weight: 600;
    padding: 11px;
}


@media only screen and (min-width: 768px) {
    .introContainer{
        padding: 2.5rem 2rem  5rem 1rem;
        margin-bottom: 8rem;
        flex-direction: row;
    }

    .holdingHands {
        position: relative;
        left: 49%;
    }

    .partnerButton {
        padding: 1rem;
    }
   
    .introGroup {
        display: flex;
        position: relative;
        right: 42%;
        display: flex;
        width: 38%;
        flex-direction: column;
    }

    
.partnerCard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

  .partnersTechnologyCard {
    display: none;
  }

  .partnersTechnologyCardDesktop {
    display: block;
    width: fit-content;
    padding: 2rem 6rem 2rem 4rem;
    cursor: pointer;
    margin: 1rem;
    margin-bottom: 1rem;
  }

  .partnersTechnologyCardContainerDesktop {
    display: flex;
    flex-direction: column;
  }

  .cardHeaderContainer {
    display: flex;
    background-color: #fff;
    margin-top: -35px;
    margin-bottom: 61px;
    box-shadow: 4px 4px 29px 16px rgba(50, 50, 50, 0.03);
    border-radius: 6px;
  }

  .technologyDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cardText {
    width: 51%;
  }

  .partnerButton {
    width: 31%;
    padding: 1.210rem;
  }

  .partnerButtonTechnology {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.210rem;
    border-radius: 10px;
    background-color: #102A63;
    color: #fff;
    margin: 2rem 0rem 2rem 1rem;
    width: 13%; 
    margin-left: 0px;
  }

  .partnerCardHeading {
     font-size: 32px;
  }

  .partnerCardContainer {
     display: flex;
     flex-direction: row;
     gap: 20px;
     padding: 3rem;
     justify-content: center;
     width: 100%;
  }

    
}