/* .slide {
    overflow-x: scroll;
} */

.slideH1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #202020;
    text-align: center;
    padding-top: 60px;
}

.blue {
    color: #2563EB;
}

.images {
    display: flex;
    animation: slide 15s linear infinite alternate;
}


@media screen and (max-width: 650px) {
    .slideH1 {
        font-size: 24px;
    }
}

@keyframes slide {
    from {
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
    }

    to {
        transform: translateX(-350%);
    }
}