.THero {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    margin-top: 50px;
    padding: 23.5px 100px 23.5px 80px;
}

.HeroH1 {
    font-size: 56px;
    line-height: 72px;
    font-weight: 800;
    color: #202020;
    margin-bottom: 20px;
    width: 560px;
}

.HeroH1Blue {
    color: #2463EB;
}

.THeroImg {
    border-radius: 40px;
}

.HeroForm {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 36px;
}

.HeroForm .input {
    padding: 1.2rem 1rem;
    border-radius: 0.6rem;
    margin: 0.7rem 0 1.4rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    width: 100%;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}

.label {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    margin-bottom: 10px;
}

.button {
    width: 184px;
    height: 48px;
    background: #143681;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
}

.THeroText h4 {
    font-weight: 600;
    color: #333;
    margin-top: 36px;
}



@media screen and (max-width: 1280px) {
    .HeroH1 {
        width: auto;
    }
}

@media screen and (min-width: 969px) and (max-width: 1279px) {
    
    .THero {
        gap: 80px;
    }

    .THeroText {
        width: 50%;
    }
    
    .HeroH1 {
        font-size: 36px;
        line-height: 54px;
    }

    .THeroImg {
        width: 50%;
        object-fit: cover;
    }

    .button {
        width: 230px;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 968px) {
    .THero {
        flex-direction: column;
        margin-top: 0;
        position: relative;
        padding-bottom: 250px;
        gap: 20px;
    }

    .FormTextDiv {
        position: absolute;
        bottom: 0;
        width: 90%;
    }
}

@media only screen and (max-width: 650px) {
    .THero {
        padding: 23.5px 32px 23.5px 32px;
        padding-bottom: 265px;
    }

    .HeroH1 {
        font-size: 32px;
        width: auto;
        line-height: 43.71px;
    }

    .THeroImg {
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .HeroForm {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .label {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-bottom: 18px;
    }

    .THeroText h4,
    .THeroText h4+p {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
  .THero {
    padding-left: 16px;
    padding-right: 16px;
  }
}