.devopsCommunity .banner {
  min-height: 400px;
  background: #e9effd;
  border: 1px solid #e6e6e6;
  padding: 8rem;
  color: #292929;
}

.devopsCommunity .banner .inBanner {
  margin: auto;
}

.devopsCommunity .banner .inBanner .article {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left {
  flex-basis: 50%;
}
.devopsCommunity .banner .inBanner .article .left h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 76px;
  color: #292929;
  margin-bottom: 20px;
}

.devopsCommunity .banner .inBanner .article .left h1 span {
  color: #225ad6;
}

.devopsCommunity .banner .inBanner .article .left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #353535;
}

.devopsCommunity .banner .inBanner .article .right {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}

.devopsCommunity .slide .slideBoxX img {
  max-width: 65px;
  margin: auto;
  height: 65px;
}

@media only screen and (max-width: 850px) {
  .devopsCommunity .banner .inBanner .article .left .right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
}

.devopsCommunity .banner .inBanner .article .right div {
  font-size: 24px;
  line-height: 33px;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.devopsCommunity .banner .inBanner .article .right div p {
  font-weight: 800;
  font-size: 1.4rem;
  margin: 4px 0 1px;
}

.devopsCommunity .banner .inBanner .article .right div span {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: -3px;
}

.h3 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 2.5rem;
}
.img {
  flex-basis: 30%;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.devopsCommunity .slide {
  width: 100%;
  padding: 6rem 4rem;
}

.devopsCommunity .slide .slideBoxX {
  height: 330px;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.devopsCommunity .slide .slideBoxX img {
  max-width: 150px;
  margin: auto;
  height: 150px;
}

.devopsCommunity .slide .slideBoxX p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #353535;
}

.devopsCommunity .slide .slideBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.devopsCommunity .slide .slideBtn:hover {
  opacity: 0.86;
}

.devopsCommunity .slide .slideBtn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  width: 141px;
  height: 48px;
  background: #102a63;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.devopsCommunity .slide .slideBtn a:hover {
  opacity: 0.86;
}

.community_activity {
  padding: 5rem 8rem;
}

.community_activity .inCommunity_activity {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.community_activity .inCommunity_activity .leftC {
  flex-basis: 60%;
}

.community_activity .inCommunity_activity .left .header {
  padding: 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(88, 86, 86, 0.5);
  margin-bottom: -2rem;
}

.community_activity .inCommunity_activity .left .header span {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #353535;
  display: flex;
  align-items: center;
  gap: 10px;
}

.community_activity .inCommunity_activity .left .header span:last-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.community_activity .inCommunity_activity .left .activity_content {
  width: 100%;
  margin-top: 20px;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box {
  width: 100%;
  min-height: 134.31px;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(88, 86, 86, 0.5);
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .avatar
  img {
  width: 31px;
  height: 31px;
  margin-right: 1.5rem;
  margin-bottom: -5.5rem;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article {
  display: flex;
  width: 100%;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent {
  width: 100%;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .title
  h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  color: #1a46a7;
  margin-bottom: 10px;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent {
  font-size: 16px;
  width: 100%;
  display: flex;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .mBContent {
  width: 100%;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .l_d_box {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
}
.svg_box {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .community_activity
    .inCommunity_activity
    .left
    .activity_content
    .activity_box
    .article
    .aContent
    .communityContent
    .l_d_box {
    margin-top: 1rem;
    margin-left: -2rem;
    display: flex;
  }
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .l_d_box
  span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
  margin-left: 7px;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .mBContent
  p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #353535;
  max-width: 431px;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .mBContent
  p:first-child {
  position: relative;
  top: 3px;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .mBContent
  p:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 5px;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .mBContent
  .mBCauthor {
  display: flex;
  align-items: center;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .mBContent
  .mBCauthor
  p:last-child {
  position: relative;
  top: 2px;
  left: 5px;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .mBContent
  .mBCauthor
  p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #353535;
  margin: 0;
  padding: 0;
}

.community_activity
  .inCommunity_activity
  .left
  .activity_content
  .activity_box
  .article
  .aContent
  .communityContent
  .mBContent
  .mBCauthor
  p
  span {
  color: #1a46a7;
}

.community_activity .inCommunity_activity .leftC .pangination {
  margin-top: 10px;
}

.community_activity .inCommunity_activity .leftC .pagination {
  max-width: 369px;
  margin: auto;
  margin-top: 10px;
}

.community_activity .inCommunity_activity .leftC .inPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.community_activity .inCommunity_activity .leftC .inPagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.h5 {
  border-bottom: 1px solid #e6e6e6;
}
.community_activity .inCommunity_activity .right {
  flex-basis: 30%;
  border: 1px solid #e6e6e6;
  padding: 2rem 4rem;
  height: fit-content;
}

.community_activity .inCommunity_activity .right .rBox {
  margin-bottom: 3rem;
}

.community_activity .inCommunity_activity .right .rBox h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #353535;
  margin-bottom: 25px;
  padding-bottom: 0.4rem;
}

.community_activity .inCommunity_activity .right .rBox h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1a46a7;
  margin-bottom: 10px;
}

.community_activity .inCommunity_activity .right .rBox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #353535;
  margin-bottom: 22px;
}

.community_activity .inCommunity_activity .right div .rLink {
  margin-top: 10px;
}

.community_activity .inCommunity_activity .right div .rLink a {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #102a63;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .community_activity {
    padding: 50px 100px 50px 100px;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .community_activity
    .inCommunity_activity
    .left
    .activity_content
    .activity_box
    .article
    .aContent
    .communityContent {
    flex-direction: column;
    gap: 5px;
  }

  .community_activity {
    padding: 50px 50px 50px 50px;
    margin: auto;
  }
}

@media screen and (max-width: 850px) {
  .community_activity .inCommunity_activity .left .header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    border: none;
  }

  .community_activity .inCommunity_activity .left .header .selectBox {
    border: 1px solid #e6e6e6;
    padding: 5px;
  }

  .community_activity .inCommunity_activity {
    flex-direction: column;
  }

  .community_activity .inCommunity_activity .leftC,
  .community_activity .inCommunity_activity .right {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .devopsCommunity .banner .inBanner .article .left h1 {
    font-size: 32px;
    line-height: 44px;
  }
}

@media screen and (max-width: 900px) {
  .devopsCommunity .banner .inBanner .article {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .devopsCommunity .banner .inBanner .article .left,
  .devopsCommunity .banner .inBanner .article .right {
    width: 100%;
  }

  .devopsCommunity .banner .inBanner .article .right {
    align-items: center;
    justify-content: center;
  }

  .devopsCommunity .banner .inBanner .article .left {
    text-align: center;
  }

  .devopsCommunity .banner .inBanner .article .left p {
    font-size: 14px;
    line-height: 19px;
  }

  .devopsCommunity .banner .inBanner .article .right div {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .devopsCommunity .banner {
    padding: 50px 40px 50px 40px;
  }

  .devopsCommunity .slide {
    max-width: 100%;
    margin: auto;
    padding: 60px 0px 60px 0px;
  }

  .devopsCommunity .slide .slideBoxX {
    max-width: 100%;
  }

  .community_activity {
    padding: 50px 40px 50px 40px;
  }

  .community_activity .inCommunity_activity .left .header span {
    font-size: 24px;
    line-height: 33px;
  }

  .community_activity .inCommunity_activity .left .header span:last-child {
    font-size: 16px;
    line-height: 22px;
  }

  .community_activity
    .inCommunity_activity
    .left
    .activity_content
    .activity_box
    .article
    .aContent
    .title
    h5 {
    font-size: 16px;
    line-height: 22px;
  }

  .community_activity
    .inCommunity_activity
    .left
    .activity_content
    .activity_box
    .article
    .aContent
    .communityContent
    .mBContent
    p {
    font-size: 14px;
    line-height: 19px;
  }

  .community_activity
    .inCommunity_activity
    .left
    .activity_content
    .activity_box
    .article
    .aContent
    .communityContent
    .mBContent
    .mBCauthor {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .community_activity
    .inCommunity_activity
    .left
    .activity_content
    .activity_box
    .article
    .aContent
    .communityContent
    .mBContent
    .mBCauthor
    p:last-child {
    position: relative;
    left: 0;
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .community_activity
    .inCommunity_activity
    .left
    .activity_content
    .activity_box
    .article
    .aContent
    .communityContent
    .mBContent
    p:last-child {
    font-size: 12px;
    line-height: 16px;
  }

  .community_activity .inCommunity_activity .right .rBox {
    padding: 30px 24px 30px 24px;
  }
}
@media only screen and (max-width: 850px) {
  .community_activity .inCommunity_activity .right .rBox {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 450px) {
  .devopsCommunity .banner {
    padding: 50px 30px 50px 10px;
  }

  .devopsCommunity .banner .inBanner .article .left h1 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 10px;
  }

  .devopsCommunity .banner .inBanner .searchBox {
    margin-top: 40px;
  }

  .community_activity {
    padding: 20px 16px 20px 16px;
  }
}

@media screen and (min-width: 850px) {
  .devopsCommunity .slide .slideBoxX img {
    max-width: 65px;
    margin: 0 auto 20px;
    height: 65px;
  }
}
