@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body,
html {
  font-family: 'Manrope';
}

.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin-top: 10px;
  background-color: #f6f9ff;
  border-radius: 10px;
  padding: 10px 30px;
}

.wrapp {
  display: flex;
  align-items: center;
}

.endpoint {
  color: #102a63 !important;
  font-size: 16px;
  line-height: 4px;
  font-weight: 600;
}

.point {
  color: #102a63 !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 10px;
}

.wrappe {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.card {
  border: 1.5px solid #9bb7f6;
  background-color: #f6f9ff;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 50px;
  padding-right: 50px;
  margin-right: 30px;
}

.bell {
  position: absolute;
  border: 1px solid #c83333;
  background-color: #c83333;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 10px;
  left: 332px;
}

.belly {
  position: absolute;
  border: 1px solid #c83333;
  background-color: #c83333;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 10px;
  margin-left: 10px;
}

.noti {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 10px;
}

.par {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.icons {
  display: flex;
  align-items: center;
}
.copy {
  cursor: pointer;
  border: 0.08rem solid transparent;
  border-radius: 1rem;
}

.copy:hover {
  border: 0.08rem solid rgb(37, 56, 149);
}

.eye {
  height: 3rem;
  width: 3rem;
  fill: #102a63;
  cursor: pointer;
  margin-right: 1.5rem;
}
.eye:hover {
  opacity: 0.7;
}
