.li {
  width: 60%;
  margin: 0 auto 7rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.h1 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.h2 {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 850px) {
  .li {
    text-align: center;
    margin: 0 auto 5rem;
    width: 90%;
  }
}
