.button {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: left;
  border-radius: 0.6rem;
  border: none;
  padding: 1rem 4rem;
  cursor: pointer;
}
