<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{firstname}},</p>
        <p>You have successfully sent your inquiry</p>
        <p> Our service agent will respond to you shortly</p>
        <footer style="text-align: center;">&copy;<em>2022</em> opspadTeam</footer>
    </body>
</html>