<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{email}},</p>
        <p>You have successfully created your server</p>
        <p> Credentials</p>
        <p> Server Id : {{uuid}}</p>
        <p> I.P Address : {{ipAddress}}</p>
        <footer style="text-align: center;">&copy;<em>{{year}}</em> opspadTeam</footer>
    </body>
</html>