<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>You requested to verify your e-mail</p>
        <p> Please, click the link below to verify your e-mail</p>
        <a href="{{link}}" style="text-decoration: none; text-align: center">Verify e-mail</a>
        <footer style="text-align: center;">&copy;<em>2022</em> opspadTeam</footer>
    </body>
</html>