<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{firstName}} {{lastName}},</p>
        <p>Welcome to Opspad!</p>
        <p> Here's the video you requested. Click <a href={{videoUrl}}> Here </a> to watch it on our website.</p>
        <p>If you have any questions, kindly reach out to us at support@opspad.dev</p>
        <footer style="text-align: center;">&copy;<em>{{year}}</em> opspadTeam</footer>
    </body>
</html>