<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{email}},</p>
        <p>We have successfully confirmed your email in our database.</p>
        <p>We will alert you whenever there is anything new from Opspad</p>
        <footer style="text-align: center;">&copy;<em>{{year}}</em> opspadTeam</footer>
    </body>
</html>