<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{email}},</p>
        <p>We are sad to see you leave</p>
        <p>Thank you for choosing Opspad</p>
        <footer style="text-align: center;">&copy;<em>{{year}}</em> opspadTeam</footer>
    </body>
</html>