<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{email}},</p>
        <p>We are sorry to loose you</p>
        <p>Thank you for choosing opspadOpspad</p>
        <footer style="text-align: center;">&copy;<em>2022</em> opspadTeam</footer>
    </body>
</html>