.container {
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	/* top: 0;
	left: 0;
	right: 0; */
	background: #ffffff;
	padding-top: 30px;
	padding-bottom: 36px;
	overflow: hidden;
	height: 100vh;
}

.onboarding {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.container * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.onboarding > figure {
	max-width: 500px;
	min-height: 428px;
	/* max-width: 621px; */
	height: fit-content;
	width: 100%;
	/* height: 100%; */
	overflow: hidden;
}

.onboarding > figure > img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.content {
	max-width: 496px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	font-family: 'Manrope';
}

.content > h1 {
	font-weight: 600;
	font-size: 32px;
	color: #202020;
}

.content > p {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #4b4b4b;
}

.btn {
	width: 382px;
	height: 56px;
	padding: 20px;
	background: #102a63;
	border-radius: 6px;
	border: none;
	color: #ffffff;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	transition: opacity 0.4s ease-in, transform 0.4s ease-in;
	display: grid;
	place-content: center;
}

.btn:hover {
	opacity: 0.8;
}
.btn:active {
	transform: scale(0.95);
}
