.csrMain {
  width: 100%;
  padding: 0 80px;
}

.csrMainSection1 {
  background-image: url('/public/image 5 (1).png');
  height: 585px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.csrOverlay {
  width: inherit;
  height: inherit;
  margin: inherit;
  background: linear-gradient(
    343.84deg,
    #292929 -19.24%,
    rgba(0, 0, 0, 0.36) 111.16%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.csrMainSection1Text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  color: #ededed;
  margin: 0 98px;
}
.csrMainSection2,
.csrMainSection3,
.csrMainSection4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: min(40px);
  padding: 40px 100px;
}
#csrMainSection3 {
  flex-direction: row-reverse;
}
.csrMainSectionsTitles {
  color: #202020;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.csrMainSectionDetails {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  color: #202020;
}
.sectionTwoImg,
.sectionThreeImg,
.sectionFourImg {
  width: 500px;
  height: 388px;
  border-radius: 4px;
  flex-grow: 2;
}
#sectionThreeImg {
  margin: 0;
}
.csrMainSection5 {
  background: #f6f5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
  padding: 100px 0;
}
.rule {
  width: 500px;
  height: 0px;
  top: 117px;
  margin-top: 2em;
  opacity: 0.5;
  border: 1px solid #202020;
}
.csrMainSection5 p {
  width: 80%;
  height: 70px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #202020;
  opacity: 0.8;
}
.csrSectionBtn {
  width: 150px;
  height: 50px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
  line-height: 16px;
  background: #102a63;
  color: #ffffff;
  border: 0.5px solid#ffffff;
  border-radius: 4px;
}
.csrSectionBtn:hover {
  opacity: 0.86;
}

@media screen and (max-width: 940px) {
  .csrMainSection2,
  .csrMainSection3,
  .csrMainSection4 {
    padding: 40px 30px;
  }
  .sectionTwoImg,
  .sectionThreeImg,
  .sectionFourImg {
    width: 330px;
    height: 330px;
  }
}
@media screen and (max-width: 768px) {
  .csrMain {
    width: 100%;
    padding: 0 32px;
  }
  .csrMainSection1 {
    height: 294px;
  }
  .csrOverlay {
    height: inherit;
    width: inherit;
    padding: inherit;
    margin: inherit;
  }
  .csrMainSection1Text {
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    font-size: 40px;
    color: #ededed;
  }
  .csrMainSectionsTitles {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #070a0d;
    text-align: left;
    margin: 0;
  }
  .csrMainSectionDetails {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin-top: 20px;
  }
  .sectionTwoImg,
  .sectionThreeImg,
  .sectionFourImg {
    width: 330px;
    height: 330px;
  }
  .csrMainSectionsDivs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .csrMainSection5 {
    padding: 60px;
  }

  .rule {
    display: none;
  }
  .csrSectionBtn {
    margin: 40px 0 0;
  }
}
@media screen and (max-width: 575px) {
   .csrMain {
    width: 100%;
    padding: 0 24px;
  }
  .csrMainSection1 {
    height: 154px;
  }
  .csrOverlay {
    height: inherit;
    width: inherit;
    padding: inherit;
    margin: inherit;
  }
  .csrMainSection1Text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0 24px;
  }
  .csrMainSection2,
  .csrMainSection3,
  .csrMainSection4 {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
    padding: 40px 24px 0;
    text-align: center;
  }
  #csrMainSection3 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .csrMainSectionsTitles {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #070a0d;
    text-align: center;
    margin: 0;
  }
  .csrMainSectionDetails {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .sectionTwoImg,
  .sectionThreeImg,
  .sectionFourImg {
    width: 100%;
    height: 211px;
  }
  .csrMainSectionsDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .csrMainSection5 {
    padding: 60px 24px;
  }
  .csrMainSection5 p {
    width: 100%;
    height: fit-content;
  }
  .rule {
    display: none;
  }
  .csrSectionBtn {
    margin: 20px 0 0;
  }
}
