.ForgetPassword {
  width: 100%;
  margin: 10rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  max-width: 554px;
}

.logoImg {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logoImg img {
  width: 107px;
}

.Reset h1 {
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 88px;
  line-height: 54.4px;
}

.Reset p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.Reset p span {
  font-weight: 900;
}

.inputEmail {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form label {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

.form input[type='email'] {
  height: 48px;
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  margin-bottom: 24px;
  padding: 10px;
  font-size: 16px;
}

.form .passwordInputs {
  height: 48px;
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  margin-bottom: 24px;
  padding: 10px;
}

.form input[type='submit'] {
  width: 100%;
  height: 50px;
  background-color: #102a63;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

.form input[type='cancel'] {
  width: 100%;
  height: 50px;
  border: #102a63 1px solid;
  color: #102a63;
  padding: 14px 20px;
  margin: 8px 0;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

.submitBtn {
  width: 100%;
  height: 50px;
  background-color: #102a63;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

.submitBtn:disabled {
  background-color: #d5d5d5;
}

.form label {
  font-size: 16px;
  margin-bottom: 6px;
}

.CheckEmail {
  text-align: center;
  padding: 20px 35px;
  width: 100%;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 554px;
}

.CheckEmail h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-top: 20px;
}

.CheckEmail p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 20px 0;
}

.CheckEmail img {
  width: 100px;
}

input[type='submit'] {
  width: 100%;
  background-color: #102a63;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 6px;
}

.Verification {
  text-align: center;
  padding: 20px 35px;
  width: 100%;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 554px;
}

.verify img {
  width: 100px;
}

.Verification p {
  margin: 40px 0;
  color: #000;
  font-size: 16px;
}

.Verification a {
  font-size: 16px;
}

.boxes {
  display: flex;
  column-gap: 15px;
  width: 100%;
}

.boxes div {
  width: 100%;
}

.boxes div input {
  width: 100%;
  height: 90px;
  background: #ffffff;
  border: 1px solid #102a63;
  border-radius: 20px;
  margin-bottom: 35px;
  font-size: 28px;
  text-align: center;
}

.NewPassword {
  text-align: left;
  padding: 20px 35px;
  width: 100%;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 554px;
}

.NewPassword h1 {
  margin-bottom: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.InputContainer {
  position: relative;
}

.form input[type='submit'] {
  width: 100%;
  background-color: #102a63;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 6px;
}

.Success {
  text-align: center;
  padding: 20px 35px;
  width: 100%;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 554px;
}

.Success p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* margin: 80px 0; */
}

.Success .toLogin {
  margin-top: 80px;
  text-decoration: none;
  width: 100%;
  height: 48px;
  background: #2563eb;
  color: #ffffff;
  padding: 16px 18px;
  border-radius: 6px;
  font-size: 16px;
}

@media (min-width: 640px) {
  .ForgetPassword h1 {
    font-weight: 600;
    font-size: 36px;
  }

  .ForgetPassword p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  .logoImg img {
    width: 240px;
  }

  .verify img {
    width: 240px;
  }

  .image img {
    width: 240px;
  }

  .boxes div input {
    width: 100%;
    height: 110px;
    font-size: 48px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .logoImg img {
    width: 300px;
  }

  .ForgetPassword h1 {
    font-size: 40px;
  }

  /* .Reset {
        margin: 0 350px;
    } */
}
