.password{
    max-width: 979px;
}

.btnContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 120px;
}

.passCon{
    padding-top: 20px;
}

.btn{
    display: flex;
	font-family: 'Manrope';
    align-items: center;
    justify-content: center;
    height: 48px;
    outline: none;
    border: none;
    background: #102A63;
    width: 342px;
    border-radius: 6px;
    cursor: pointer;
}

.btnText{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-right: 10px;
}

.btnIcon{
    width: 18px;
    height: 18px;
}