.passwordCard {
	box-sizing: border-box;
	height: 113px;
	width: 979px;
	border: 1px solid #c7c7c7;
	margin-bottom: 20px;
	padding: 20px;
}

.headFlex {
	display: flex;
    position: relative;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-start;
    text-align: start;
}

.name{
    font-size: 18px;
    font-weight: 400;
    margin: 0 !important;
    color: #4B4B4B;
}

.dash{
    height: 7px;
    width: 141px;
}

.iconsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 64px;
	align-items: center;
}

.openEye,
.options {
	width: 24px;
	height: 24px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.password{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.input{
    padding: 0 !important;
    margin: 0 !important;
    font-size: 16px;
    color: #4B4B4B;
}

.optionCard{
    position: absolute;
    width: 146px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #c7c7c7;
    background: #fff;
    border-radius: 6px;
    padding: 6px;
    top: 24px;
    right: 10px;
}

.cp, .ep, .dp{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    font-family: 'Manrope';
    cursor: pointer;
}

.ep{
    padding-right: 25px;
}

.cp{
    padding-right: 15px;
}

.et, .ct, .dt{
    font-size: 12px;
    font-weight: 500;
    color: #444444;
    margin-left: 3px;
}

.dt{
    margin-left: 5px;
}
