@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

:root {
  --colorL: #6F6F6F;
  --blue: #102A63;
  --backgroundLight: #F6F9FF;
  --white: #ffffff;
  --light: #ededed;
  --black: #202020;
}

h4 {
  color: none !important;
  font-weight: none !important;
  font-size: none !important;
  margin: 0 !important;
}

button {
  cursor: pointer;
}

.featureWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  flex-direction: column;
}

.feature {
  /* width: min(1300px, 90%); */
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*======================= MINI LANDING PAGE STYLING STARTS HERE =======================================*/
.opspadfeaturesminilandingpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 49px;
  gap: 20px;
}

.minilandpageheading {
  color: var(--black);
  font-weight: 700;
  font-size: 56px;
  font-weight: 76.5px;
}

.minilandpageheading span {
  font-weight: 400;
}

.minilandpageparagraph {
  color: var(--colorL);
  font-weight: 400;
  font-size: 20px;
}

.minilandpagebtn {
  background: none;
  border: 1px solid #102A63;
  color: #102A63;
  padding: 17px 30px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
}

/* ===============================SERVER SECTION STYLING STARTS HERE ========================*/
.servers {
  width: 100%;
  min-height: 277px;
  display: flex;
  align-items: center;
  /* gap: 82px; */
  /* background-color: pink; */
}

.serverImgWrapper {
  width: min(782px, 60%);
}

.serverImg {
  display: block;
  width: 100%;
}

.serversText {
  width: 600px;
  height: 100%;
  margin-top: -30px;
  text-align: center;
}

.serversTextHeading {
  color: var(--black);
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: 700;
}

.serversTextParagraph {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: var(--colorL);
}

/* =======================================NOTE SECTION STYLING STARTS HERE ===============================*/
.notesSection {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--backgroundLight);
  padding-top: 40px;
}

.noteImgWrapper {
  width: min(623px, 60%);
}

.noteImg {
  width: 100%;
  display: block;
}

.notesText {
  width: min(600px);
  align-self: flex-start;
  text-align: center;
  margin-top: 80px;
}

.notesTextHeading {
  color: var(--black);
  font-weight: 700;
  font-size: 40px;
}

.notesTextparagraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--colorL);
  margin-top: 12px;
}

/* =========================================== PASSWORD SECTION STYLING STARTS HERE ====================================*/
.password {
  width: 90%;
  display: flex;
  align-items: flex-start;
}

/* .passwordImgWrapper {
  width: 70%;
} */

.passwordimg2{
  display: block;
}

.passwordimg2{
  display: none;
}

.passwordImg {
  width: 100%;
  display: block;
}

.passwordText {
  width: min(600px);
  text-align: center;
  margin-top: 80px;
}

.passwordTextHeading {
  color: var(--black);
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: 700;
}

.passwordTextParagraph {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--colorL);
}

/* ======================================= AUTHENTICATION SECTIN STYLING STARTS HERE */
.autentication {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--backgroundLight);
  gap: 40px;
  padding-left: 100px;
}

.authenImgWrapper {
  width: min(900px, 60%);
}

.authenImg {
  width: 100%;
  display: block;
}

.authenImgMobile {
  width: 100%;
  display: none;
}

.autenticationText {
  width: 600px;
  text-align: center;
}

.autenticationTextHeading {
  color: var(--black);
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: 700;
}

.autenticationTextParagraoh {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--colorL);
}

.authenImg {
  align-self: flex-end;
}

/* =================================================== NOTIFICATIONS AND SIGN IN OPTIONS STYLING STARTS HERE */

.notificationandsigninoption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 103px;
  flex-direction: column;
}

.notificationandsigninoptionFlex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: min(300px, 90%);
  align-items: center;
}

.Bell{
  max-width: 60px !important;
}

.notificationsHeading {
  font-size: 20px;
  color: var(--black);
  text-align: center;
}

.notificationsParagraph {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: var(--colorL);
}

.profile {
  width: min(300px, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.profileImg {
  width: 70px;
}

.profileHeading {
  font-size: 20px;
  color: var(--black);
  text-align: center;
}

.profileParagraph {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: var(--colorL);
}

.notificationProfileText {
  font-size: 36px;
  color: var(--colorL);
  margin-top: 46px;
  font-weight: 300;
  text-align: center;
}

/* ============================================ ABOUT OPSPAD SECTION STYLING STARTS HERE */
.aboutOpspad {
  width: 100%;
  background-color: #102A63;
  margin-top: 88px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 62px 0;
}

.aboutOpspadContent {
  width: min(676px, 100%);
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
}

.aboutOpspadContentHeading {
  font-size: 36px;
  color: var(--white);
}

.aboutOpspadContent hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--white);
}

.aboutOpspadContentParagraph {
  font-size: 20px;
  color: var(--light);
  font-weight: 500;
  line-height: 32px;
  opacity: 0.8;

}

.aboutOpspadContentButton {
  background: none;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 18px 22px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
}
.aboutOpspadContentButton:hover {
  opacity: .86;
}

.aboutOpspadImgWrapper {
  width: min(352px, 40%);
}

.abOpsImg {
  width: 100%;
  display: block;
  mix-blend-mode: color-burn;
}

/* ====================================================================================================== MEDIA QUERIES =================================================================================================== */

/*============================================= MEDIA QUERY FOR MINI LANDING PAGE SECTION  */

/* ============== TABLET AND IPADS SCREENS */

@media (max-width: 800px) {
  .opspadfeaturesminilandingpage {
    gap: 12px;
  }

  .minilandpageheading {
    font-size: 32px;
    text-align: center;
  }

  .minilandpageparagraph {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0 !important;
  }

  .minilandpagebtn {
    padding: 10px 10px;
    font-size: 10px;
    border-radius: 3px;
  }
}

/*======================================================== MEDIA QUERY FOR SERVER SECTION */
@media (max-width: 1290px) {
  .serversText {
    margin-right: 30px;
  }
}

/* ============== TABLET AND IPADS SCREENS */

@media (min-width: 530px) and (max-width: 850px) {
  .serversTextHeading {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .serversTextParagraph {
    font-size: 12px;
    line-height: 19px;
  }

  .serversText {
    width: 360px;
  }
}

/*=======================  MOBILE SCREENS  */

@media (max-width: 530px) {
  .serversText {
    margin-right: 0;
    width: min(220px, 95%);
    align-self: center;
    margin-top: 20px;
  }

  .servers {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 22px;
    border-radius: 10px;
    padding: 0 24px;
  }

  .serversTextHeading {
    font-size: 32px;
  }

  .serversTextParagraph {
    font-size: 14px;
    line-height: 19px;
  }

  .serverImgWrapper {
    width: 75%;
  }

  .serverImg {
    border-radius: 8px;
  }

  .minilandpagebtn {
    padding: 11px 13px;
    font-size: 10px;
  }

}

/* =========================================== MEDIA QUERY FOR NOTES SECTION */
@media (max-width: 1290px) {
  .notesText {
    margin-left: 30px;
  }
}
/* ============== TABLET AND IPADS SCREENS */

@media (min-width: 530px) and (max-width: 850px) {

  .notesText {
    width: 360px;
  }

  .notesTextHeading {
    font-size: 24px;
  }

  .notesTextparagraph {
    font-size: 12px;
    line-height: 18px;
  }
}

/*=======================  MOBILE SCREENS  */


@media (max-width: 1000px) {
  .notesText {
   margin-top: 5px;
  }
}

@media (max-width: 530px) {
  .notesSection {
    margin-top: 33px;
    flex-direction: column;
    border-radius: 8px;
    padding: 0 15px;
    padding-bottom: 0;
    width: 85%;
  }


  .noteImgWrapper {
    width: min(700px, 90%);
  }

  .notesText {
    width: min(240px, 80%);
    align-self: center;
    margin-left: 0;
    margin-top: 23px;
  }

  .notesTextHeading {
    font-size: 32px;
  }

  .notesTextparagraph {
    font-size: 14px;
    line-height: 19px;
  }
}


/* ================================================= MEDIA QUERY FOR PASSWORD SECTION  */
@media (max-width: 1000px) {
  .passwordText {
   margin-top: 30px;
  }
}

@media (max-width: 1290px) {
  .passwordText {
    margin-right: 30px;
  }
}

/* ============== TABLET AND IPADS SCREENS */

@media (min-width: 530px) and (max-width: 850px) {
  .password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: pink; */
  }

  .passwordText {
    width: 350px;
  }

  .passwordImgWrapper {
    width: min(736px, 50%);
  }

  .passwordTextHeading {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .passwordTextParagraph {
    font-size: 12px;
    line-height: 18px;
  }
}

/*=======================  MOBILE SCREENS  */

@media (max-width: 530px) {
  .password {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 33px;
  }

  .passwordImgWrapper {
    width: min(736px, 100%);
  }

  .passwordTextHeading {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .passwordText {
    width: min(240px, 95%);
    padding-bottom: 18px;
    margin-right: 0;
    margin-top: 0;
  }

  .passwordTextParagraph {
    font-size: 14px;
    width: min(240px, 95%);
    line-height: 19px;
  }
  .passwordimg2{
    display: block;
    width: 100%;
  }
  
  .passwordImg {
    width: 100%;
    display: none;
  }
  .passwordImgWrapper {
    width: 70%;
  }
}

/* ========================================= MEDIA QUERY FOR AUTHENTICATION SECTION  */

@media (max-width: 1080px) {
  .autentication {
    padding-left: 50px;
  }
}

/* ============== TABLET AND IPADS SCREENS */

@media (min-width: 530px) and (max-width: 850px) {
  .autenticationText {
    width: 360px;
  }

  .authenImgWrapper {
    width: min(737px, 45%);
  }

  .autenticationTextHeading {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .autenticationTextParagraoh {
    font-size: 12px;
    line-height: 18px;
  }
  
  .authenImg {
    width: 100%;
    display: none;
  }

  .authenImgMobile {
    width: 100%;
    display: block;
  }
}

/*=======================  MOBILE SCREENS  */

@media (max-width: 530px) {
  .autentication {
    flex-direction: column;
    padding-left: 0;
    gap: 30px;
    width: 85%;
    align-items: center;
    margin-top: 33px;
  }
  .autenticationText {
    width: min(310px, 95%);
    align-self: flex-start;
    margin-top: 20px;
    padding: 10px;
  }

  .autenticationTextHeading {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .autenticationTextParagraoh {
    font-size: 14px;
    width: 100%;
    line-height: 19px;
  }

  .authenImgWrapper {
    width: 100%;
    align-self: center;
  }

  .authenImg {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

/* =================================================== MEDIA QUERY FOR NOTIFICATIONS AND SIGN IN OPTIONS */
/* ============== TABLET AND IPADS SCREENS */

@media (min-width: 530px) and (max-width: 800px) {
  .Bell {
    width: 40px !important;
    /* max-width: 40px; */
  }

  .notifications {
    width: min(168px, 90%);
    gap: 11px;
  }

  .notificationsHeading {
    font-size: 12px;
  }

  .notificationsParagraph {
    font-size: 10px;
    line-height: 13px;
  }

  .profile {
    width: min(168px, 90%);
    gap: 11px;
  }

  .profileImg {
    width: 40px;
  }

  .profileHeading {
    font-size: 12px;
  }

  .profileParagraph {
    font-size: 10px;
    line-height: 13px;
  }

  .notificationProfileText {
    font-size: 20px;
  }
}

/*=======================  MOBILE SCREENS  */

@media (max-width: 530px) {
  .notificationandsigninoptionFlex {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .notifications {
    width: min(290px, 90%);
    gap: 11px;
  }

  .notificationsHeading {
    font-size: 20px;
  }

  .notificationsParagraph {
    font-size: 14px;
    line-height: 19px;
  }

  .profile {
    width: min(290px, 90%);
    gap: 11px;
  }

  .profileImg {
    width: 40px;
  }

  .profileHeading {
    font-size: 20px;
  }

  .profileParagraph {
    font-size: 14px;
    line-height: 19px;
  }

  .notificationProfileText {
    margin-top: 50px;
    font-size: 24px;
  }
}

/* ============================================ MEDIA QUERY FOR ABOUT OPSPAD SECTION */

@media (max-width: 1200px) {
  .aboutOpspad {
    padding: 62px 50px;
    gap: 40px;
  }
}

/* ============== TABLET AND IPADS SCREENS */

@media (min-width: 530px) and (max-width: 800px) {
  .aboutOpspadContent {
    gap: 20px;
  }

  .aboutOpspadContentHeading {
    font-size: 20px;
  }

  .aboutOpspadContentParagraph {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutOpspadContentButton {
    padding: 10px 12px;
    font-size: 11px;
  }
}

/*=======================  MOBILE SCREENS  */

@media (max-width: 530px) {
  .aboutOpspad {
    flex-direction: column;
    max-height: 496px;
    overflow: hidden;
    position: relative;
  }
  .aboutOpspadContent {
    align-items: center;
    gap: 40px;
  }

  .aboutOpspadContentHeading {
    font-size: 32px;
  }

  .aboutOpspadContentParagraph {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  .aboutOpspadContentButton {
    padding: 18px 22px;
    font-size: 20px;
  }

  .aboutOpspadImgWrapper {
    width: min(352px, 100%);
    position: absolute;
    bottom: -230px;
  }
}

@media (max-width: 400px) {
  .aboutOpspadContent {
    align-items: center;
    gap: 15px;
  }

  .aboutOpspad {
    padding: 30px 20px;
    gap: 40px;
  }
}
