.container * {
	box-sizing: border-box;
}

.container {
	margin-left: 228px;
	padding: 0px 97px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.loading {
	margin-left: 228px;
	display: grid;
	place-content: center;
	padding: 50px 97px;
}

.no_server {
	margin-top: 50px;
	margin-left: 228px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 66.75px;
	place-items: center;
	font-family: 'Manrope';
}

.no_server > figure {
	width: 300px;
	height: fit-content;
	overflow: hidden;
}

.no_server > figure > img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.no_server_content {
	width: 360px;
	padding-left: 30px;
}

.no_server_content > h2 {
	font-weight: 600;
	font-size: 32px;
	color: #202020;
	margin-bottom: 16px;
	text-align: center;
}

.no_server_content > p {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #4b4b4b;
	text-align: center;
}

.search {
	width: 382px;
	height: 40px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 8px;
	gap: 8px;
	background: #ffffff;
	border: 1px solid #808080;
	border-radius: 6px;
}

.search > input,
.search > input:focus {
	border: none;
	outline: none;
}

.search > input {
	width: 100%;
	font-size: 14px;
}

.search:focus-within {
	outline: 1px solid black;
}

.search > img {
	width: 11.66px;
	height: 11.66px;
}

.bad_query {
	font-size: 18px;
	font-weight: 600;
}

.btn {
	padding: 16px 18px;
	display: grid;
	place-content: center;
	width: 307px;
	height: 48px;
	background: #102a63;
	border-radius: 6px;
	font-family: 'Manrope';
	font-weight: 600;
	font-size: 14px;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

@media (max-width: 767px) {
	.container {
		margin-left: 0;
	}
	.search {
		width: 100%;
	}

	.no_server {
		margin-left: 0;
	}
}
