.testimonial {
    background-color: #F6F9FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 36px;
    padding: 80px;
}

.head img{
    max-width: 100%;
    border-radius: 50%;
}

.card {
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(205, 218, 240, 0.79);
    border-radius: 10px;
    max-width: 387px;
    text-align: center;
    min-height: 311px;
    padding: 30px;
}

.card:nth-child(odd) {
    justify-self: end;
}

.card:nth-child(even) {
    justify-self: self-start;
}

.head {
    /* background-color: #102A63; */
    display: flex;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.cardText {
    font-style: italic;
}

.head svg {
    display: block;
    height: 37.33px;
    width: 37.33px;
    fill: white;
}

.rating {
    margin-top: 17px;
}

.rating svg {
    fill: #F3B63F;
}

.card h4 {
    margin-top: 18px !important;
    margin-bottom: 8px !important;
}


@media screen and (max-width: 650px) {
    .testimonial {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .card:nth-child(even),
    .card:nth-child(odd) {
        justify-self: unset;
    }
}