.container {
  width: 85%;
  font-family: 'Inter';
  margin-bottom: 2rem;
}

.container > h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: start;
  text-transform: uppercase;
  color: #202020 !important;
  margin: 0 0 11px 20px;
  padding-top: 20px;
  letter-spacing: 0.1rem;
}

.table {
  width: 100%;
}

.table > tbody {
  padding: 1.2rem 2rem;
  border: 1px solid #c7c7c7b0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table th,
.data {
  color: #000000;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 18px;
}

.server_health {
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  /* padding: 8px 20px; */
  width: 93px;
  height: 32px;
  border-radius: 4px;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  text-transform: capitalize;
}

.status_active,
.status_inactive {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}
.status_active {
  background-color: green;
}
.status_inactive {
  background-color: rgb(240, 119, 119);
}

.status_svg {
  fill: white;
  margin-left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
