section.main {
	margin-left: 300px;
	margin-right: 100px;
	display: flex;

	/* justify-content: space-between; */
}

section.main div.container {
	border-right: 1.5px solid #acacac;
	padding-right: 50px;
}

div.wrapper {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #6f6f6f;
	border-bottom: 1.3px solid #6f6f6f;
}

div.wrapper p.note {
	color: #6f6f6f !important;
	margin-bottom: 4px;
}

section.main div.contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	margin-top: 20px;
	border: 2px solid #f6f9ff;
	background-color: #f6f9ff;
	border-radius: 10px;
	padding: 10px 30px;
}

section.main div.contain div.wrapp {
	display: flex;
	align-items: center;
}

section.main div.contain div.wrapp p.endpoint {
	color: #102a63 !important;
	font-size: 16px;
	line-height: 4px;
	font-weight: 600;
}

section.main div.contain div.wrapp p.point {
	color: #102a63 !important;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin-left: 10px;
}

section.main div.wrappe {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

section.main div.wrappe div.card2 {
	border: 1.5px solid #9bb7f6;
	background-color: #e0eaff;
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

section.main div.wrappe div.card1 {
	border: 1.5px solid #9bb7f6;
	background-color: #f6f9ff;
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

section.main div.wrappe div.card1 div.bell {
	position: absolute;
	border: 1px solid #c83333;
	background-color: #c83333;
	color: white;
	border-radius: 10px;
	padding: 0 10px;
	font-size: 10px;
	left: 332px;
}

section.main div.wrappe div.card2 div.belly {
	position: absolute;
	border: 1px solid #c83333;
	background-color: #c83333;
	color: white;
	border-radius: 10px;
	padding: 0 10px;
	font-size: 10px;
	left: 332px;
}

section.main div.wrappe div.card1 p.noti {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 10px;
}

section.main div.wrappe div.card1 p.par {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}

section.main div.wrappe div.card2 p.noti {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 10px;
}

section.main div.wrappe div.card2 p.par {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}

section.main div.state {
	padding-left: 50px;
	margin-top: 20px;
	height: 120vh;
	width: 60%;
}

section.main div.refill {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 165px;
	margin-left: 100px;
}

section.main div.refill p.para {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
}

section.main div.row {
	display: flex;
	align-items: center;
	border: 1.5px solid #c7c7c7;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
}

.table_container {
	width: 100%;
	padding: 48px 24px 16px;
	border: 1px solid #c7c7c7;
	border-radius: 10px;
	position: relative;
	margin-top: 40px;
}

.table {
	width: 100%;
}

.table > tbody {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 44px;
}

.table tr {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table th,
.data {
	color: #000000;
	font-family: 'Manrope';
	font-weight: 400;
	font-size: 18px;
}

.server_health_container {
	display: grid;
	place-content: center;
	padding: 4px 8px;
	width: 77px;
	height: 32px;
	border-radius: 4px;
	font-family: 'Manrope';
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	text-align: right;
	text-transform: capitalize;
}

.server_health {
	display: flex;
	gap: 7.33px;
}

.rotate {
	transform: rotate(180deg);
}

.server_health > span {
	font-family: 'Manrope';
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
}

.server_health_excellent {
	background: #b6dec5;
}
.server_health_excellent span {
	color: #0e6930;
}

.server_health_critical {
	background: rgba(233, 17, 17, 0.08);
}
.server_health_critical span {
	color: #e91111;
}

@media (max-width: 767px) {
	section.main {
		margin-left: 0px;
		margin-right: 0px;
	}

	.container {
		display: none;
	}

	section.main div.state {
		padding: 20px 10px 20px;
		margin-top: 20px;
		width: 100%;
	}

	.table_container {
		max-width: 500px;
		margin: 40px auto 0;
	}

	.btn {
		position: absolute;
		left: 90px;
		top: 15px;
	}
}
@media (max-width: 550px) {
	.table_container {
		max-width: 400px;
		margin: 40px auto 0;
	}
}

@media (min-width: 768px) and (max-width: 980px) {
	.container {
		display: none;
	}

	section.main div.state {
		padding: 20px 10px 20px;
		margin-top: 20px;
		width: 100%;
		position: relative;
	}

	.table_container {
		max-width: 460px;
		margin-left: 250px;
	}

	section.main {
		margin-left: 0px;
		margin-right: 0px;
	}

	.btn {
		position: absolute;
		left: 250px;
	}
}

.copyIp {
	padding: 0;
	outline: none;
	margin: 0;
	border: none;
	background: transparent;
}
