.server {
  height: 100vh;
  width: 100%;
  display: flex;
}

section.main {
  flex-basis: 80%;
  padding: 3rem 5rem;
}

p.note {
  padding: 0;
  margin-bottom: 34px !important;
  width: fit-content;
  font-size: 14px;
  font-weight: 700;
  color: #202020;
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid #202020;
}

@media screen and (max-width: 767px) {
  .server {
    flex-direction: column;
  }
}