.login-contain {
  max-width: 50%;
  margin: 0px auto;
}

.login-contain h5 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

input::placeholder {
  color: #acacac;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 24px;
  font-weight: 500;
}

.each {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form button {
  background-color: #102a63;
  color: white;
  padding: 20px 10px;
  border: none;
  border-radius: 10px;
  font-size: 27px;
  margin: 30px 0px;
}
.line {
  border-top: 2px solid black;
  width: 30%;
}

.butt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.logos img {
  width: 60px;
}

@media screen and (max-width: 800px) {
  .login-contain {
    max-width: 90%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 500px) {
  .login-contain h5 {
    font-size: 22px;
  }
}
