.podcast-contain {
  padding: 23.5px 80px 23.5px 80px;
}

p {
  font-size: 16px !important;
}

.podcast-head {
  font-weight: 700;
  margin: 30px 0px;
  font-size: 48px;
}

.podcast-top {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.podcast-top-left {
  max-width: 60%;
}

.podcast-top-left h4 {
  font-size: 24px;
  color: #202020;
  font-weight: 500;
  margin-bottom: 30px;
}

.podcast-top-left p {
  color: #202020;
}

.img-first {
  margin: 0px auto;
  display: flex;
  margin-bottom: 20px;
}

.podcast-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.podcast-middle-left {
  max-width: 50%;
}

.mark {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mark-det p {
  margin-bottom: 0px !important;
}

.name {
  color: #222222;
  font-size: 19px;
}

.mark-det p:nth-child(2) {
  color: #20202091;
}

.podcast-middle-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 30%;
}

.podcast-middle-left p {
  margin-bottom: 20px;
}

.bold {
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 30px;
}
.small {
  display: none !important;
}

.left-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
  border: 1px solid #5378fa;
  border-radius: 5px;
  /* min-width: 1000px; */
  padding: 20px;
}

.top {
  display: flex;
  align-items: baseline;
  margin: 0px auto;
  gap: 30px;
}

.bottom {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.face {
  width: 60px !important;
}

.det {
  justify-content: center;
}

.det p {
  /* max-width: 60%; */
  font-size: 60px;
  font-weight: 600;
  color: #202020;
  line-height: 17px;
}

.det img {
  width: 60px;
}

.left-most {
  border: 1px solid #8f8e8e;
  padding: 20px;
  border-radius: 5px;
  max-width: fit-content;
  margin-left: 70px;
}

.contain h5 {
  font-size: 24px;
  font-weight: 500;
  color: #1a1a1a;
}

.contain h3,
p {
  margin-bottom: 5px;
}

/* .box{
    margin-left: 40px;
} */

.contain p {
  text-decoration: underline;
  font-size: 12px !important;
  line-height: 13px;
}

.contain {
  max-width: 300px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.btn {
  background-color: #102a63;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 400;
  border: 1px solid transparent;
}

@media screen and (max-width: 1173px) {
  .left-most {
    padding: 20px;
    max-width: fit-content;
    margin-left: 0px;
  }

  .contain h5 {
    font-size: 24px;
  }

  .contain p {
    font-size: 10px;
  }

  .contain {
    max-width: 100%;
  }

  .img-first {
    width: 80%;
    display: block;
    margin: auto 0px;
    margin-bottom: 20px;
  }

  .podcast-middle-right {
    max-width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .podcast-head {
    font-size: 36px;
  }

  .second {
    min-width: 100%;
  }

  .small {
    display: block !important;
    margin-bottom: 20px;
  }

  .podcast-top {
    display: block;
  }

  .podcast-top-right {
    display: none;
  }

  .podcast-top-left {
    max-width: 100%;
  }

  .podcast-top-left p {
    margin-bottom: 20px;
  }

  .podcast-middle-right {
    display: none;
  }

  .podcast-middle {
    display: block;
  }

  .podcast-middle-left {
    max-width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .podcast-contain {
    padding: 23.5px 30px 23.5px 30px;
  }

  .second {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .podcast-head {
    font-size: 23px !important;
    font-weight: 700;
  }

  .subtitle {
    font-size: 22px;
  }

  .podcast-top-left h4 {
    font-size: 23px;
  }

  .mark {
    display: none;
  }

  p {
    font-size: 15px !important;
  }
}
