.header {
  padding: 0rem 0 0 8rem;
  font-family: 'Manrope';
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 92px);
}

.left {
  flex-basis: 45%;
  color: #202020;
  margin-top: -6rem;
}

.h1 {
  color: #202020;
  font-weight: 800;
  font-size: 4rem;
  line-height: 5.2rem;
}

.span {
  color: #225ad6;
}
.h4 {
  color: #353535;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.p {
  margin-top: 1.5rem;
}
.btn__box {
  margin-top: 2rem;
  width: 100%;
}
.btn {
  width: 20rem;
  height: 6rem;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.btn__primary {
  color: #ffffff;
  background-color: #102a63;
}

.btn__secondary {
  margin-left: 2rem;
  color: #102a63;
  background-color: #ffffff;
  border: 0.1rem solid #225ad6;
}
.btn__primary:hover {
  background: #102a63ed;
}

.btn__secondary:hover {
  opacity: 0.86;
}
.right {
  flex-basis: 50%;
  margin-bottom: -3rem;
  z-index: -30;
}

.img {
  margin-top: 8rem;
  height: 70%;
  object-fit: contain;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .header {
    height: unset;
    padding: 0%;
    flex-direction: column;
    text-align: center;
  }

  .left {
    margin-top: 0;
    padding: 2rem 4rem 0;
    width: 100%;
  }

  .h1 {
    color: #202020;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.4rem;
  }

  .span {
    color: #225ad6;
  }

  .h4 {
    color: #353535;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .p {
    margin-top: 1.5rem;
  }
  .btn__box {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    width: 30rem;
    height: 5rem;
    margin: 1.4rem auto;
    font-size: 1.5rem;
    transition: 0.3s;
  }

  .btn__primary {
    color: #ffffff;
    background-color: #225ad6;
  }

  .btn__primary:hover {
    background: #102a63ed;
  }

  .btn__secondary {
    margin-bottom: 1.5rem;
    color: #225ad6;
    background-color: #ffffff;
    border: 0.1rem solid #225ad6;
  }

  .btn__secondary:hover {
    opacity: 0.7;
  }
  .right {
    width: 100%;
    padding: 0 1rem 0;
    margin-bottom: 0;
  }

  .img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
  }
}
