.leftaligned {
  margin-top: 100px;
  padding: 10rem 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope';
  font-style: normal;
  text-align: left;
  color: #292929;
  background-color: #f6f9ff;
  height: 441px;
}

.left {
  flex-basis: 40%;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #202020;
  margin-bottom: 1.5rem;
}

.p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #292929;
}

.right {
  flex-basis: 35%;
}

.img {
  height: 100%;
  width: 342px;
  object-fit: cover;
  border-radius: 0.8rem;
  margin-top: -10px;
}

@media only screen and (max-width: 850px) {
  .leftaligned {
    flex-direction: column;
    text-align: center;
    padding: 5rem 3rem 0;
    height: 100%;
  }

  .right {
    width: 100%;
    margin: 0;
  }

  .left {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .img {
    height: 100%;
    width: 300px;
    object-fit: cover;
    border-radius: 0.8rem;
    margin: 0;
    /* margin-top: -10px; */
  }

  .h2 {
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
  }

  .p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .leftaligned {
    padding: 6rem 2rem 0;
  }

  .h2 {
    font-size: 2.5rem;
  }
}
