.add_server{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.server_contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

h2{
    text-transform: uppercase;
}

.form{
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.12);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    gap: 20px;
}

.in{
    display: flex;
    flex-direction: column;
}

label{
    color: #6F6F6F;
    font-weight: 400;
    margin-bottom: 10px;
}

input{
    width: 300px;
    border: 1px solid #6F6F6F;
    border-radius: 5px;
    padding: 10px;
}

.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.done{
    background: #102A63;
    color: white;
    border: transparent;
    border-radius: 5px;
    width: inherit;
    padding: 15px;
    text-align: center;
}