.server {
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  display: flex;
}

.empty,
.available {
  margin-left: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div {
  text-align: center;
  color: #202020;
}
.img {
  margin-bottom: 2rem;
}
.h4 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.1rem;
  color: #202020;
}
.p {
  margin-top: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.button {
  margin-top: 4rem;
  width: 25rem;
  font-size: 1.4rem;
  padding: 1.3rem 0;
  background: #102a63;
  color: #ffffff;
  transition: all 0.3s;
}

.button:hover {
  background: #102a63ed;
}

@media screen and (max-width: 767px) {
  .server {
    flex-direction: column;
  }

  .empty,
  .available {
    align-items: center;
    justify-content: center;
  }
}
