.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 20;
}

.dark_overlay {
  background: rgba(10, 9, 9, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.form {
  width: 836px;
  height: fit-content;
  padding: 48px;
  background: #ffffff;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
