.container {
	width: 28px;
	height: 28px;
	overflow: hidden;
	border: 1px solid #c7c7c7;
	border-radius: 4px;
	padding: 4px;
	position: absolute;
	top: 25px;
	left: 250px;
	cursor: pointer;
}

.container > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
